body {
    text-align: center;
    width: 80%;
    max-width: 700px;
    margin: auto;
    font-family: 'Lora', serif;
}

h1 {
    font-size: 38px;
    border-bottom: groove 4px black;
    border-radius: 20px;
    top: 0;
    margin: 10px;
    font-family: 'Permanent Marker', cursive;
    
}

h2 {
    font-family: 'kanit', sans-serif;
}

.introduction-area {
    background-image: url("../images/old-letter-background.jpg");
    background-size: cover;
    background-position: center;
    border: solid 10px red;
    border-radius: 25px;
    
}

.introduction-area p {
    margin: 10px;
    padding-bottom: 50px;
}

.game-area {
    padding: 20px;
    margin: 20px auto;
    background-color: rgba(158, 158, 101, 0.3);
    border-radius: 30px;
}

p {
    padding-bottom: 10px;
}

.result p:last-of-type {
    font-size: 1.5em;
}