
/* General styles */

body {
    text-align: center;
    width: 80%;
    max-width: 700px;
    margin: auto;
    font-family: 'Lora', serif;
    font-size: 22;
}

/* Main header styles*/

h1 {
    font-size: 56px;
    border-bottom: groove 4px black;
    border-radius: 20px;
    top: 0;
    margin: 10px;
    font-family: 'Permanent Marker', cursive; 
}

/* Sub-heading styles */

h2 {
    font-family: 'kanit', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
}

.red-text {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color:rgb(255, 100, 100);
}

.blue-text {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color:rgb(100, 100, 255)
}

.green-text {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color:rgb(100, 255, 100)
}

/* Styles for introduction area */

.introduction-area {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/wood-background.jpg");
    background-size: cover;
    background-position: center;
    border: solid 10px;
    border-radius: 25px;
    border-image: url(../images/candy-cane-border.jpg) 100;
    margin-left: 20px;
    margin-right: 20px;
    top: 0;
    padding: 0 20px 50px;
}

.introduction-area > span > p { 
    display: inline;  
    font-weight: 700;
    font-size: 22px;
    color:rgb(100, 255, 100)
} 

/* Styles for countdown area and timer */

.countdown-area {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 75%;
    max-height: 300px;
}

#countdown-sign {
    position: relative;
}

#countdown-sign img {
    width: 100%;
    height: auto;
    display: block;
}

#countdown-sign p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
}

/* Styles for game area */

.game-area {
    position: relative;
    padding: 20px;
    margin: 20px auto;
    background-color: rgba(158, 158, 101, 0.3);
    border: groove 2px white;
    border-radius: 30px;
}

/* Applies frosted glass effect */

.game-area::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("../images/frozen-glass.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

/* Font styles */

.game-area > h2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 187, 0);
    font-family: 'Lora', sans-serif;
    color: navy;
    font-size: 50px;
}

.game-area > p { 
    font-size: 24px;
    font-weight: 700;
    color:rgb(12, 20, 82);
    line-height: 75px;
    padding-bottom: 20px;
}

/* User options button styles */

#user-options button {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    margin: 0 10px;
    transition: all 0.5s;
    padding-top: 10px;
}

#candy-cane {
    background-image: url("/assets/images/candy-cane.png");
}

#bauble {
    background-image: url("/assets/images/bauble.png");
}

#star {
    background-image: url("/assets/images/star.png");
}

#gingerbread {
    background-image: url("/assets/images/gingerbread.png");
}

#jingle {
    background-image: url("/assets/images/jingle.png");
}

/* Result styles */

.result > h2 {
    padding-top: 10px;
}

.result > p {
    font-size: 30px;
}

/* Styles for score counter */

.result p:last-of-type {
    font-size: 1.5em;
}

/* Media Queries */

